# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Virtual environment
venv/
yogaenv310/

# VS Code
.vscode/

# Mac/Linux
.DS_Store

# Windows
Thumbs.db
